<template>
  <Page class="page" >
    <ActionBar class="action-bar" title="Hello world">
    </ActionBar>

    <TabView>
      <TabViewItem title="Live">
        <ScrollView >
          <StackLayout class="stubbed" >
            <Label class="h2 spacer" :height="screenHeight" text="a" />
            <WebView class="webview" height="500" src="https://storage.googleapis.com/ads.smrtb.com/viewability.html" />
            <Label class="h2 spacer" :height="screenHeight" text="b" />
          </StackLayout>
        </ScrollView>
      </TabViewItem>
      <TabViewItem title="Stubbed">
        <ScrollView >
          <StackLayout class="live" >
            <Label class="h2 spacer" :height="screenHeight" text="a" />
            <Label text="ad tag goes here baby" />
            <Label class="h2 spacer" :height="screenHeight" text="b" />
          </StackLayout>
        </ScrollView>
      </TabViewItem>
      <TabViewItem title="Stubbed noscroll">
        <StackLayout class="stubbed" >
          <WebView class="webview" height="1100" src="https://storage.googleapis.com/ads.smrtb.com/viewability.html" />
        </StackLayout>
      </TabViewItem>
    </TabView>

  </Page>
</template>

<script>
  import * as platform from 'tns-core-modules/platform'


  export default {
    data () {
      return {
        screenHeight: platform.screen.mainScreen.heightDIPs,
      };
    },
    methods: {
      
    },
  };
</script>

<style scoped>
  .webview {
    margin-right: 50;
  }

  .stubbed .spacer {
    background: lavender;
  }

  .live .spacer {
    background: salmon;
  }
</style>
